.container {
	padding-top: 20px;
}

#add-group-btn {
	float: right
}

#add-event-btn {
	float: right
}

@media ( min-width : 1200px) {
	.container:not (.fluid ), .mdl-grid:not (.fluid ) {
		width: 1152px;
	}
	.container.fab-width-container {
		position: absolute;
		left: 50%;
		margin-left: -576px;
	}
}

/* Cards copy paste from Square card https://getmdl.io/components/index.html#cards-section */
.mdl-card__title {
	color: #fff;
	background: bottom right 15% no-repeat #089889;
	/* color from this grid http://paletton.com/#uid=13f0u0kw0osmUvmuhuGCbjZKZeE */
}

.mdl-card {
  width: initial; /* Use the grid system to set the width of the cards */
}

.group-card .mdl-card .mdl-card__supporting-text {
  margin: 20px;
  width: calc(100% - 40px);
}

.event-card .mdl-card .mdl-card__supporting-text {
  margin: 20px;
  width: calc(100% - 40px);
}

.concise-friend-card .mdl-card {
	min-height: 0;
}

.concise-friend-card .mdl-card .mdl-card__supporting-text {
  margin: 10px 20px;
  width: calc(100% - 20px);
  
}

.moved-contact>.mdl-card {
  background-color: rgba(255, 255, 0, 0.25)
}


#save-group-btn {
  width: 96px; /* to matach default Back button size. */
  margin-left: 10px;
}


.group-buttons {
  text-align: right;
}

.mdl-textfield {
  width: 100% !important;
}
dialog.mdl-dialog {
  width: 400px !important;
  max-width: 90%;
}

