#fbButton {
	margin: 20% auto;
	text-align: center;
}

.container {
	padding-top: 20px;
}


@media ( min-width : 1200px) {
	.container:not (.fluid ), .mdl-grid:not (.fluid ) {
		width: 1152px;
	}
	.container.fab-width-container {
		position: absolute;
		left: 50%;
		margin-left: -576px;
	}
}

/* Cards copy paste from Square card https://getmdl.io/components/index.html#cards-section */
.mdl-card__title {
	color: #fff;
	background: bottom right 15% no-repeat #089889;
	/* color from this grid http://paletton.com/#uid=13f0u0kw0osmUvmuhuGCbjZKZeE */
}

.mdl-card {
	width: initial; /* Use the grid system to set the width of the cards */
}

.contact-card .mdl-card .mdl-card__supporting-text {
	margin: 20px;
	width: calc(100% - 40px);
}

.contact-card .mdl-card {
	min-height: 172px;
}

.concise-contact-card .mdl-card {
	min-height: 0px;
}

.concise-contact-card .mdl-card .mdl-card__supporting-text {
	margin: 10px 20px;
	width: calc(100% - 40px);
}

.delete-contact-btn {
	margin: 8px;
}

