<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Split It</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Material Design Lite -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css" />
<link rel="stylesheet" href="/static/css/text-heavy-template.css">
<!-- borrowed from an mdl template -->
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>

<!-- Added since the dialog element is still so new. Polyfill to support non-Chrome browsers. -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.4/dialog-polyfill.css">
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.4/dialog-polyfill.js"></script>

<!-- Material Design Lite 1.2.1 doesn't have a select element so I used this one. -->
<!-- From: getmdl-select from https://github.com/CreativeIT/getmdl-select-->
<link rel="stylesheet"
	href="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.css">
<script defer
	src="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.js"></script>

<script type="text/javascript"
	src="/static/javascript/jquery-2.2.3.min.js"></script>

<!-- Custom CSS/JS -->
<link rel="stylesheet" href="/static/css/split-it.css">
<script src="/static/javascript/split-it.js"></script>


</head>
<body
	class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header
			class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
			<div class="mdl-layout--large-screen-only mdl-layout__header-row">
				<h3>Split It</h3>
			</div>
			<div
				class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
				{% if current_user is defined %} <a href="/" class="mdl-layout__tab">GROUPS</a>

				<a href="/friends" class="mdl-layout__tab">FRIENDS</a> <a
					href="/profile" class="mdl-layout__tab">PROFILE</a>
				<div class="mdl-layout-spacer"></div>
				<!-- Right aligned menu below button -->
				<button id="options-menu"
					class="mdl-layout__tab mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">more_vert</i>
				</button>
				<ul
					class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					for="options-menu">

					<li><a href="/profile" class="mdl-menu__item">{{
							current_user.name}}</a></li>

					<li><a href="/logout" class="mdl-menu__item"
						onclick="FB.logout()">Logout</a></li>
				</ul>
				{% endif %}
			</div>
		</header>

		<main class="mdl-layout__content">
		<div class="container">
			<div class="row">
				<div class="text-center">
					{% if current_user is not defined %}

					<fb:login-button data-size="xlarge" autologoutlink="false"
						scope="publish_actions, user_friends"></fb:login-button>

					{% endif %}

				</div>
			</div>
			{% block setActive %}{% endblock %} 
			{% block content %}{% endblock %}
			{% block modals %}{% endblock %}
		</div>
		</main>
		<div id="fb-root"></div>

		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId : '{{ facebook_app_id }}',
					status : true,
					cookie : true,
					xfbml : true
				});
				FB.Event
						.subscribe(
								'{% if current_user is defined %}auth.logout{% else %}auth.login{% endif %}',
								function(response) {
									window.location.reload();
								});
			};
			(function() {
				var e = document.createElement('script');
				e.type = 'text/javascript';
				e.src = document.location.protocol
						+ '//connect.facebook.net/en_US/all.js';
				e.async = true;
				document.getElementById('fb-root').appendChild(e);
			}());
		</script>
	</div>
</body>
</html>
