 {% extends "templates/base_page.html" %} 
 
{% block content %} 

{% block setActive %}

<script>
	$("a.mdl-layout__tab[href='/']").addClass("is-active");
</script>
{% endblock %}


<div class="container">
	<div class="mdl-grid">
	  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
	    <h2 class="page-title">
	      <span id="group-name">{{ group.groupName }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    </h2>
	  </div>
	  <div class="mdl-cell mdl-cell--6-col  mdl-cell--6-col-tablet group-buttons">
	  	<input name="group_entity_key" type="hidden" value="{{ group.key.urlsafe() }}">
	  	<a href="/" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	          Back to all Groups
	    </a>
	    <button id="edit-group-btn" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
	      {% if group.key.parent().id() == account_info.key.id() %}
	      Edit
	      {% else %}
	      Details
	      {% endif %}
	    </button>
	     {% if group.key.parent().id() == account_info.key.id() %} 
	     <button id="finish-group-btn" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          Finish
        </button>
        {% endif %}
	  </div>
	</div>
</div>
<hr>
    
<div class="container fab-width-container">
	<button
		class="header-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
		id="add-event-btn" data-upgraded=",MaterialButton,MaterialRipple">
		<i class="material-icons" role="presentation">add</i><span
			class="visuallyhidden">Add</span> <span
			class="mdl-button__ripple-container"> <span
			class="mdl-ripple is-animating"
			style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(25px, 36px);"></span>
		</span>
	</button>
</div>
<div class="container">
	<h2 class="page-title">Events</h2>
	<hr>
</div>
<div class="mdl-grid">
	<input name="group_entity_key" type="hidden" value="{{ group.key.urlsafe() }}">
	{% for event in events %} 
		{% include "templates/event_card.html" %} 
	{% endfor %}
</div>
	
	
{% endblock %}


{% block modals %}

<!-- Create a new list dialog -->
<dialog id='add-event-dialog' class="mdl-dialog">
<h4 class="mdl-dialog__title">Add Event</h4>
<form action="/insert-event" method="POST">
	<input name="group_entity_key" type="hidden" value="{{ group.key.urlsafe() }}">
	<input name="event_entity_key" type="hidden">
	<div class="mdl-dialog__content">
		<div id="name-field"
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="eventName">
			<label class="mdl-textfield__label" for="eventName">Event Name</label>
		</div>
		<div id="name-field"
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="eventDescription">
			<label class="mdl-textfield__label" for="eventDescription">Event
				Description</label>
		</div>
	</div>
	<div class="mdl-dialog__actions">
		<button type="submit"
			class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Add</button>
		<button type="button"
			class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent close-parent-dialog">Cancel</button>
	</div>
</form>
</dialog>

{% endblock %}




