{% extends "templates/base_page.html" %}
{% block setActive %}
<script>
  $("a.mdl-layout__tab[href='/friends']").addClass("is-active");
</script>
{% endblock %}
<!-- Two Line List with secondary info and action -->

{% block content %}
<style>
.demo-list-two {
  width: 80%;
  margin: auto auto;
}
</style>

<ul class="demo-list-two mdl-list">
{% for friend in friends_list %}
  <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{ friend.name }}&nbsp;&nbsp;{{ "(" }}{{ friend.nickname }}{{ ")" }}</span>
      <span class="mdl-list__item-text-body">
        {{"E-mail:"}}&nbsp;&nbsp;{{ friend.email }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{"Phone Number:"}}&nbsp;&nbsp;{{ friend.phoneNumber }}
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <!-- <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a> -->
    </span>
  </li>
{% endfor %}
</ul>
{% endblock %}
